.PrivateRoom {
  font-family: "Source Sans Pro";
  width: 673px;
  margin: 37px 47px 31px 46px;
}

.PrivateRoom__title-name {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.01em;

  color: #4d525b;
  margin-bottom: 42px;
}

.PrivateRoom__statistic {
  width: 628px;
  height: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: #4d525b;
}

.PrivateRoom__url-label {
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #4d525b;
  margin-bottom: 65px;
}

.PrivateRoom__url-broadcast-container {
  display: flex;
  flex-direction: column;
}

.PrivateRoom__url-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.Url__icon {
  position: absolute;
  margin-left: 24px;
}

.PrivateRoom__url-input {
  width: 477px;
  height: 44px;

  border-color: none;
  background: #ffffff;
  border: 1px solid #c0c0c0;
  border-radius: 4px;

  font-size: 18px;
  line-height: 23px;

  letter-spacing: 0.01em;
  padding-left: 65px;
  color: #c0c0c0;
}

.PrivateRoom__url-input:focus {
  outline: none;
}

.PrivateRoom__copy-url-btn {
  width: 200px;
  height: 44px;

  border: none;
  border-color: none;
  background: #e34a4e;
  border-radius: 4px;
}

.Copy__url-btn-title {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;

  color: #ffffff;
}

.PrivateRoom__broadcasting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.PrivateRoom__player {
  width: 327px;
  height: 164px;
  background: #c4c4c4;
}

.Start__broadcasting-btn {
  width: 200px;
  height: 71px;
  border: none;
  background: #4fc6e0;
  border-radius: 4px;
}

.Start__broadcasting-btn-tittle {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #ffffff;
}

.PrivateRoom__rooms {
  display: grid;
  grid-template-columns: 327px 327px;
  gap: 18px;
  margin-bottom: 72px;
}

.Room__container {
  background: #ffffff;

  box-shadow: 2px 4px 14px rgba(77, 82, 91, 0.27);
  border-radius: 8px;
}

.Room__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 54px;
  margin: 22px 21px 28px 25px;
}
.Room__square {
  width: 59px;
  height: 59px;

  background: #e34a4e;
  border-radius: 7px;
  margin-right: 19px;
}

.NewRoom__square {
  width: 59px;
  height: 59px;

  background: #d7d7d7;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.NewRoom__btn-label {
  width: 26px;
  height: 62px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 49px;
  line-height: 62px;

  text-align: center;
  letter-spacing: 0.01em;
}

.Room__title-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Room__title {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: #4d525b;
}

.Room__description {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.01em;

  color: #4d525b;
}

.Room__circles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4.9px;
}

.Room__circle {
  width: 7px;
  height: 7px;
  background: #c4c4c4;
  border-radius: 50%;
}

.Broadcasting__history-title {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 24px;

  color: #4d525b;
}

.Broadcating__history-container {
  width: 663px;
  height: 274px;

  background: #ffffff;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
}

.Broadcating__history-labels {
  display: flex;
  justify-content: space-between;
  padding: 12px 22px 11px 32px;
  border-bottom: 1px solid #c0c0c0;
}

.Broadcating__history {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.01em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;

  color: #bdbdbd;
}
